<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <title>NoteBank - Landing Page</title>
    </head>

    <body>
        <nav class="white">
          <div class="nav-wrapper">
            <a href="/home/" class="brand-logo amber-text text-lighten-2">NoteBank</a>   
              <ul class="hide-on-med-and-down right">          
                    <li><a href="/upload/" class="amber-text text-lighten-2">Upload</a></li>
                    <li><a href="/logout/" class="amber-text text-lighten-2">Logout</a></li>                         
             </ul>
        </div>
      </nav>  

        <div class="row">
            <div class="col s8">
                    {% for course in courses %}
                <div class="row">

                <h4>{{course.code}} {{course.name}}</h4>

                {% for note in notes %}
                
                    {% if note.course_name == course.code %}
                    <div class="col s3">
                        <div class="card" style="height:150px;">
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{note.name}}</span>
                                {% load static %}
                                <p><a href="{% static 'notes/'|add:course.code|add:'/'|add:note.name|add:'.pdf' %}">Go to note.</a></p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                        
            </div>
            {% endfor %}
            
        </div>
            <div class="col s4">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>To Do List</h4></li>
                    <li class="collection-item"><label>
                        <input type="checkbox" />
                        <span>To do</span>
                    </label></li>
                    <li class="collection-item"><label>
                        <input type="checkbox" />
                        <span>To do</span>
                    </label></li>
                    <li class="collection-item"><label>
                        <input type="checkbox" />
                        <span>To do</span>
                    </label></li>
                    <li class="collection-item"><label>
                        <input type="checkbox" />
                        <span>To do</span>
                    </label></li>
            </div>
        </div>

        

    </body>
</html>